body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1c151f;
}

hr {
    width: 500px;
}

#answer {
    color: white;
    display: grid;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 1px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 3px;

    /* Text */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #1d311b;
    color: white;
    border-color: white;
}

.present {
    background-color: #776824;
    color: white;
    border-color: white;
}

.absent {
    background-color: #161318;
    color: white;
    border-color:white;
}

/* TRY AGAIN BUTTON */

.refresh-btn {
    margin: auto;
    padding: 10px 20px;
    background-color: #194d1b; /* green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.refresh-btn:hover {
    background-color: #0a250b; /* darker green on hover */

}

/* KEYBOARD */
.keyboard-row {
width: 400px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
}

.key-tile {
    border: 1px solid lightgray;
    width: 36px;
    height: 40px;
    margin: 1px;
    border-radius: 3px;
    cursor: pointer;

    /* Text */
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center
}

.key-tile:hover {
    background-color: #302935;
}

.enter-key-tile {
    border: .5px solid lightgray;
    width: 75px;
    height: 40px;
    margin: 1px;
    border-radius: 3px;
     cursor: pointer;

    /* Text */
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center
}

.enter-key-tile:hover {
        background-color: #302935;
}